.cs-card {
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

/* *************************************** */
/* CARD STATUS */
.cs-card-status {
    position: relative;
    height: 180px;
}

/* Back */
.cs-card-status > .cs-card:nth-child(1) {
    position: absolute;
    width: -webkit-fill-available;
    margin-right: 10px;
    z-index: 1000;

    height: 138px;

    &:hover {
        z-index: 1001;
    }
}

/* Front */
.cs-card-status > .cs-card:nth-child(2) {
    position: absolute;
    width: -webkit-fill-available;
    margin-top: 30px;
    margin-left: 8px;
    z-index: 1000;

    height: 120px;

    &:hover {
        z-index: 999;
    }
}