@import "../variables";

.cs-text-green {
    color: $green !important;
}
.cs-text-purple {
    color: $purple !important;
}
.cs-text-cyan {
    color: $cyan !important;
}
.cs-text-orange {
    color: $orange !important;
}
.cs-text-red {
    color: $red !important;
}
.cs-text-grey {
    color: $grey !important;
}