$colors: (
    "cyan": #00a9d3,
    "pink": #ff0075,
    "purple": #9500da,
    "violet": #f83ef8,
    "green": #00d146,
    "yellow": #ffeb00,
    "orange": #ff5100,
    "red": #f72a1b,
    "grey": #4d4d4d,
    "light-grey": #7c7c7c,
    "dark-grey": #333333,
    "dark-background": #2a2a2a,
    "light-background": white
);

$primary: map-get($colors, "cyan");
$secondary: map-get($colors, "light-grey");
$dark: map-get($colors, "dark-grey");

$default-z-index: 9999;