$green: #00d146;
$purple: #9500da;
$cyan: #00a9d3;
$yellow: #ffeb00;
$orange: #ff5100;
$red: #f72a1b;
$pink: #ff0075;
$grey: #444444;
$light-grey: #6C757D;
$dark-grey: #343a40;

$primary: $cyan;
$secondary: $light-grey;
$dark: $dark-grey;